<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/index}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- Begin Slider With Category Menu Area -->


<div id="layoutSidenav_content" layout:fragment="body">
    <div class="container">

    <h1 class="mt-4">Role Directory</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Role</li>
    </ol>

    <p class="h4 mb-4">Save Role</p>

    <form action="#" th:action="@{/admin/role/save}"
          th:object="${role}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{roleId}" />

        <input type="text" th:field="*{roleName}"
               class="form-control mb-4 w-25" placeholder="Role name">
        <p th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}" class="error text-danger"></p>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/admin/role/list}">Back to Role List</a>

</div>
</div>

</html>







