<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/index}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- Begin Slider With Category Menu Area -->


<div id="layoutSidenav_content" layout:fragment="body">
    <div class="container">

    <h1 class="mt-4">Specification Directory</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Specification</li>
    </ol>

    <p class="h4 mb-4">Save Employee</p>

    <form action="#" th:action="@{/admin/specification/save}"
          th:object="${specification}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{specId}" />

        <input type="text" th:field="*{specName}"
               class="form-control mb-4 w-25" placeholder="Specification name">
        <p th:if="${#fields.hasErrors('specificationName')}" th:errors="*{specificationName}" class="error text-danger"></p>
        <input type="text" th:field="*{specValue}"
               class="form-control mb-4 w-25" placeholder="Specification value">
        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/admin/specification/list}">Back to Specification List</a>

</div>
</div>

</html>







