<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/index}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- Begin Slider With Category Menu Area -->


<div id="layoutSidenav_content" layout:fragment="body">
    <div class="container">

    <h1 class="mt-4">User Directory</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">User</li>
    </ol>

    <p class="h4 mb-4">Save User</p>

    <form action="#" th:action="@{/admin/user/save}"
          th:object="${user}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{userId}" />

        <input type="text" th:field="*{userName}"
               class="form-control mb-4 w-25" placeholder="Username">
        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error text-danger"></p>
        <input type="email" th:field="*{email}"
               class="form-control mb-4 w-25" placeholder="Email">
        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 w-25" placeholder="First Name">
        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 w-25" placeholder="Last Name">
        <input type="text" th:field="*{address}"
               class="form-control mb-4 w-25" placeholder="Address">
        <input type="tel" th:field="*{phoneNumber}"
               class="form-control mb-4 w-25" placeholder="Phone Number">
        <input type="datetime-local" th:field="*{registrationDate}"
               class="form-control mb-4 w-25" placeholder="Registration Date">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/admin/user/list}">Back to User List</a>

</div>
</div>

</html>







